name: Composables stability

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  compose_stability:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GIT
        uses: actions/checkout@v4

      - name: Setup Java SDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '18'

      - name: Enable Gradle Wrapper caching (optimization)
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build Compose compiler report (Jetpack Compose)
        run: ./gradlew assembleDemo -PcomposeCompilerReports=true

      - name: Analyze the report (Ivy)
        run: ./gradlew :ci-actions:compose-stability:run

      - name: Upload the Compose Stability report
        uses: actions/upload-artifact@v4
        with:
          name: compose-stability-report
          path: ci-actions/compose-stability/ivy-compose-stability-report.txt