name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GIT
        uses: actions/checkout@v4

      - name: Setup Java SDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '18'

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v4

      - name: Lint (release)
        run: ./gradlew lintRelease

      - name: Upload Lint Release report to GitHub
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: lint-release-report.html
          path: build/reports/lint/lint.html

      - name: Fail if lint errors are found
        run: |
          # Check if the lint XML report contains any error issues
          if grep -q 'severity="Error"' build/reports/lint/lint.xml; then
            echo "Lint errors found. Failing the build."
            exit 1
          fi