name: 'Close Stale Issues and PRs'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *'

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          days-before-issue-stale: 30
          days-before-issue-close: 7
          days-before-pr-stale: 2
          days-before-pr-close: 1